body {
    background-color: silver;
}

.container {
    background-color: rgb(186, 209, 234);
    width: 1200px;
    margin: 0 auto;
}

header,
footer {
    background-color: rgb(45, 43, 56);
    padding: 20px;
    color: azure;
}

.header {
    text-align: center;
}

main {
    color: rgb(57, 59, 77);
    
}

.goals {
    background-color: rgb(101, 112, 173);
    color: rgb(231, 230, 239);
    overflow: hidden;
}

img {
    width: 400px;
    float: left;
    margin-right: 30px;
}